---
import LoginForm from '../components/user/LoginForm';
import BaseLayout from '../layouts/BaseLayout.astro';
import auth from "../assets/auth.jpg";
---

<BaseLayout title="Login">
  <div class="auth-page">
    <div class="img" style={`background-image: url(${auth.src});`}></div>
    <div class="ctn">
      <div class="data">
        <h1>Login</h1>

        <LoginForm client:load />

        <div class="links">
          <p>
            Don't have an account? <a href="/start">Register</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>