---
import logo from "../assets/logo.svg"
import AuthNav from "../components/AuthNav";
---

<header class="main">
  <div class="content">
    <a class="logo" href="/">
      <img src={logo.src} alt="logo" />
    </a>
    <AuthNav client:load />
  </div>
</header>
