---
import BaseLayout from './BaseLayout.astro';
import Header from './Header.astro';

const { title } = Astro.props;
---

<BaseLayout title={title}>
  <Header />
  <main>
    <slot />
  </main>
</BaseLayout>
