@use "vars" as *;

.auth-form {
  width: 100%;
}

input {
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #D9D9D9;
  padding: 0 $padding-sm;
}

button {
  height: 40px;
  background: none;
  border: 1px solid #D9D9D9;
  padding: 0 $padding-sm;
}

a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #000;
}
