@use "vars" as *;
@use "app/products" as *;

.app-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  & > div {
    width: 320px;
  }

  h3 {
    color: #444;
  }
}

.app {
  background: #f5f6f8;
  min-height: 100vh;

  a {
    border: 0;
  }

  & > aside {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: $app-aside-width;
    background: #fff;
    box-shadow: $box-shadow;

    header {
      padding: $padding-sm $padding 0;

      .logo {
        display: flex;

        img {
          width: 125px;
        }
      }
    }

    .menu {
      padding: $padding;

      h5 {
        margin: 0 0 10px;
        font-size: 14px;
        font-weight: 400;
        color: #999;
        text-transform: uppercase;
      }
    }

    ul {
      list-style-type: none;
      display: flex;
      margin: 0;
      padding: 0;
      flex-direction: column;
      margin: 0 -10px;

      a {
        padding: 8px 10px;
        font-size: 17px;
        display: flex;
        align-items: center;
        user-select: none;
        transition: background .2s;
        border-radius: $border-radius;

        svg {
          width: 22px;
          height: 22px;
          margin-right: 5px;
        }

        &:hover {
          background: #f4f5fa;
        }
      }
    }

    & > footer {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      padding: $padding-sm;
      background: #FFF;
      border-top: 1px solid #EEE;

      button {
        background: none;
        border: 0;
      }
    }
  }

  & > main {
    margin-left: $app-aside-width;
  }

  .act-btn {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
    user-select: none;

    h6 {
      margin: 0 0 0 10px;
      font-size: 14px;
      font-weight: 500;
    }
  }

  header.dash {
    padding: $padding $padding-lg;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #DDD;

    h1 {
      margin: 0 $padding 0 0;
      font-size: 1.2rem;
      white-space: nowrap;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    & > nav {
      margin-left: auto;
      display: flex;
      gap: $padding-sm;
      align-items: center;
      justify-content: center;
    }

    & + .content {
      padding: $padding $padding-lg;
    }
  }

  .fm-item {
    & + .fm-item {
      margin-top: $padding-sm;
    }

    .ant-space-compact {
      width: 100%;
    }

    .ant-space-addon {
      border-radius: 0;
    }

    .ant-input-number {
      border-radius: $border-radius;
      width: 100%;
    }

    label {
      display: flex;
      font-size: 13px;
      font-weight: 600;
      margin: 0 0 6px 0;
    }
  }
}

.app-sec-load {
  padding: $padding;
}
