@use "vars" as *;

.app-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  & > div {
    width: 320px;
  }

  h3 {
    color: #444;
  }
}


.app {
  background: #f5f5f5;
  height: 100vh;

  & > aside {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: $app-aside-width;
    background: #fff;

    header {
      padding: $padding-sm $padding 0;
      .logo {
        display: flex;
        img {
          width: 125px;
        }
      }
    }

    .menu {
      padding: $padding;

      h5 {
        margin: 0 0 10px;
        font-size: 13px;
        font-weight: 400;
        color: #999;
        text-transform: uppercase;
      }
    }

    ul {
      list-style-type: none;
      display: flex;
      margin: 0;
      padding: 0;
      flex-direction: column;
      margin: 0 -10px;

      a {
        padding: 7px 10px;
        font-size: 16px;
        display: flex;
        align-items: center;
        user-select: none;
        transition: background .2s;
        border-radius: $border-radius;

        svg {
          width: 20px;
          height: 20px;
          margin-right: 5px;
        }

        &:hover {
          background: #f4f5fa;
        }
      }
    }

    & > footer {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      padding: $padding-sm;
      background: #FFF;
      border-top: 1px solid #EEE;

      button {
        background: none;
        border: 0;
      }
    }
  }

  & > main {
    margin-left: $app-aside-width;
  }

  .act-btn {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
    user-select: none;

    h6 {
      margin: 0 0 0 10px;
      font-size: 14px;
      font-weight: 500;
    }
  }


}
