@use "vars" as *;

.auth-page {
  display: flex;
  min-height: 100vh;

  h1 {
    font-size: 1.5rem;
    margin: 0 0 $padding;
  }

  .img {
    flex: 1.5;
  }
  .ctn {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  .data {
    max-width: 420px;
    margin: 0 auto;

    input {
      margin-bottom: $padding-sm;
    }
  }

  p {
    font-size: 16px;
  }

  .links {
    margin-top: $padding;
    a {
      border-bottom: 1px solid #000;
    }
  }

  .terms {
    font-size: 12px;
    color: #999;

    a {
      border-bottom: 1px solid #999;
    }
  }
}
