@use 'vars' as *;

header.main {
  width: 100vw;
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;

  & > div {
    margin: 0 auto;
    max-width: $wrap-width;
    padding: 0 $padding;
    display: flex;
    align-items: center;
    height: $main-header-height;
  }

  a.logo {
    text-decoration: none;
    display: flex;
    height: 50px;

    img {
      height: 100%;
      position: relative;
      top: 2px;
    }
  }

  nav {
    margin-left: auto;
  }
}
