@use "header" as *;
@use "auth" as *;
@use "app" as *;
@use "vars" as *;

html,
body {
  margin: 0;
  font-family: $font-family-sans-serif;
  font-optical-sizing: auto;
  font-size: 19px;
  color: $text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-sans-serif;
  font-optical-sizing: auto;
}

.wrap {
  width: 90%;
  max-width: $wrap-width;;
}

p {
  line-height: 1.5em;
}

* {
  box-sizing: border-box;
}

main.land {
  padding-top: $main-header-height;
  min-height: calc(100vh - #{$main-header-height});
}

.ant-input {
  border-radius: 0;
}

.ant-btn {
  box-shadow: none;
  text-decoration: none;
  text-align: center;
  font-family: $font-family-sans-serif;

  &.ant-btn-default {
    border-radius: 2px;
    border-color: #222;
    font-weight: bold;
    font-size: 15px;
  }

  &.ant-btn-link {
    color: #222;
    font-weight: bold;
    font-size: 15px;
    height: 36px;
    line-height: 34px;
  }

  &.ant-btn-primary {
    background: #87ffd1;
    font-weight: bold;
    padding: 15px 30px;
    color: #0d3526;
    border-radius: $border-radius;
    border-color: #135039;
    box-shadow: none;

    &.cta {
      border: 0 !important;
      height: 72px;
      padding: 0 30px;
      line-height: 70px;
      font-size: 19px;
    }
  }
}

.avatar {
  height: 34px;
  width: 34px;
  background: #7df4c6;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #080f24;
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 1px;
  user-select: none;
  cursor: pointer;
  opacity: 1;
}

.empty {
  text-align: center;

  p {
    font-size: 14px;
    color: #999;
  }
}

.ant-dropdown {
  .ant-dropdown-menu {
    min-width: 200px;

    a {
      display: flex;
      align-items: center;
      font-size: 16px;
      font-family: $font-family-sans-serif;
      svg {
        width: 20px;
        height: 20px;
        margin-right: 5px;
      }
    }
  }
}

.mt {
  margin-top: $padding
}
