$main-header-height: 70px;
$wrap-width: 1200px;

$padding-xs: 10px;
$padding-sm: 15px;
$padding: 30px;
$padding-lg: 60px;

$app-aside-width: 225px;
$app-content-max-width: 1000px;

$border-radius: 2px;

$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-serif: 'Merriweather', serif;

$text-color: #333;

$box-shadow: 0 0 10px rgba(0, 0, 0, .1);
