@use "vars" as *;

.hero {
  height: calc(100vh - #{$main-header-height});
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: $wrap-width;
  margin: 0 auto;
  padding: 0 $padding;
  gap: $padding-lg;

  img {
    width: 100%;
    max-width: 450px;
  }

  .cta {
    flex: 1;
  }

  .wrap {
    display: flex;
    flex-direction: column;
  }

  h1, h2 {
    font-size: 3.5rem;
    margin: 0;
    font-weight: 900;
  }

  h2 {
    font-size: 2.5rem;
  }

  p {
    font-size: 22px;
    line-height: 1.6em;
  }

  .ant-btn {
    display: inline-block;
    margin: 0 auto;
    height: 72px;
  }
}
